<div class="container">
  <div class="row authSection">
    <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 py-5 my-md-4 my-0">
      <a routerLink="/home">
        <img src="./assets/images/logo.svg" alt="Logo" class="login-logo"/>
      </a>
      <div *ngIf="successMessage" class="pb-5 pt-lg-0 pt-5">
        <ng-container>
          <div class="mb-10 alert alert-custom alert-light-success alert-dismissible d-block">
            <h3 class="font-weight-bolder alert-text font-size-h3 mb-5 text-center">
              Thank you for register
            </h3>
            <div class="alert-text font-size-h4 text-center mb-3">{{successMessage}}</div>
            <a routerLink="auth/login" class="d-block text-center font-size-h5">
              Back to login
            </a>
          </div>
        </ng-container>
      </div>
      <form *ngIf="!successMessage" novalidate="novalidate" [formGroup]="registrationForm" (ngSubmit)="submit()">
        <div class="mb-4 pt-lg-0 pt-5">
          <h3 class="font-weight-bolder mb-0 text-dark font-size-h6 font-size-h4-lg">
            Sign Up
          </h3>
          <p class="text-muted font-weight-bold font-size-h6">
            Enter your details to create your account
          </p>
        </div>
        <div class="form-group">
          <label class="font-size-h6 font-weight-bolder text-dark">Email</label>
          <input class="form-control" type="email" placeholder="Enter your email" name="email" formControlName="email" autocomplete="off" [ngClass]="{ 'is-invalid': registrationForm.controls['email'].invalid }"/>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'Email is required',
              control: registrationForm.controls['email']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'email',
              message: 'Email is invalid',
              control: registrationForm.controls['email']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'minlength',
              message: 'Email should have at least 6 symbols',
              control: registrationForm.controls['email']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'maxLength',
              message: 'Email should have maximum 360 symbols',
              control: registrationForm.controls['email']
            }"
          ></ng-container>
        </div>
        <div class="form-group">
          <label class="font-size-h6 font-weight-bolder text-dark">Name</label>
          <input class="form-control" type="text" placeholder="Enter your name" name="name" formControlName="name" autocomplete="off" [ngClass]="{ 'is-invalid': registrationForm.controls['name'].invalid }" required/>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'Name is required',
              control: registrationForm.controls['name']
            }"
          ></ng-container>
        </div>
        <div class="form-group">
          <label class="font-size-h6 font-weight-bolder text-dark">Country</label>
          <!-- <select class="form-control px-4" placeholder="Select Country" name="countryId" formControlName="countryId" autocomplete="off" [ngClass]="{ 'is-invalid': registrationForm.controls['countryId'].invalid }" required>
            <option value="">Select Country</option>
            <option *ngFor="let country of countries" [value]="country.id">
              <span class="symbol symbol-20 mr-3"><img [src]="country.flag"></span>{{country.name}}
            </option>
          </select> -->
          <mat-select class="form-control" name="countryId" formControlName="countryId" [ngClass]="{ 'is-invalid': registrationForm.controls['countryId'].invalid }">
              <mat-option value="">Select Country</mat-option>
              <mat-option *ngFor="let country of countries" [value]="country.id">
                  <div class="d-flex align-items-center">
                      <span class="symbol symbol-20 mr-3"><img [src]="country.flag"></span>{{country.name}}
                  </div>
              </mat-option>
          </mat-select>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'Country is required',
              control: registrationForm.controls['countryId']
            }"
          ></ng-container>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-4 pr-1">
              <label class="font-size-h6 font-weight-bolder text-dark">Country Code</label>
              <input class="form-control" type="text" matInput value="{{getCountryCode()}}" disabled/>
            </div>
            <div class="col-8 pl-1">
              <label class="font-size-h6 font-weight-bolder text-dark">phone</label>
              <input class="form-control" placeholder="Enter your phone number" formControlName="phoneNumber" type="text" matInput placeholder="Phone" autocomplete="off" [ngClass]="{ 'is-invalid': registrationForm.controls['phoneNumber'].invalid }"/>
            </div>
          </div>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'Phone number is required',
              control: registrationForm.controls['phoneNumber']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'pattern',
              message: 'Phone is invalid',
              control: registrationForm.controls['phoneNumber']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'maxlength',
              message: 'Maximum length is 11',
              control: registrationForm.controls['phoneNumber']
            }"
          ></ng-container>
        </div>
        <div class="form-group">
          <label class="font-size-h6 font-weight-bolder text-dark">Password</label>
          <input class="form-control" type="password" placeholder="Enter password" name="password" formControlName="password" autocomplete="off" [ngClass]="{'is-invalid': registrationForm.controls['password'].invalid}"/>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'Password is required',
              control: registrationForm.controls['password']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'minlength',
              message: 'Password should have at least 6 symbols',
              control: registrationForm.controls['password']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'maxLength',
              message: 'Password should have maximum 100 symbols',
              control: registrationForm.controls['password']
            }"
          ></ng-container>
        </div>
        <div class="form-group">
          <label class="font-size-h6 font-weight-bolder text-dark">Confirm Password</label>
          <input class="form-control" type="password" placeholder="Confirm your password" name="cPassword" autocomplete="off" formControlName="cPassword" [ngClass]="{'is-invalid': registrationForm.controls['cPassword'].invalid}"/>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'Confirm Password is required',
              control: registrationForm.controls['cPassword']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'minlength',
              message: 'Confirm Password should have at least 6 symbols',
              control: registrationForm.controls['cPassword']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'maxLength',
              message: 'Confirm Password should have maximum 100 symbols',
              control: registrationForm.controls['cPassword']
            }"
          ></ng-container>
          <ng-container
            *ngIf="
              registrationForm.controls['cPassword'].errors &&
              registrationForm.controls['cPassword'].errors.ConfirmPassword
            "
          >
            <div class="fv-plugins-message-container">
              <div class="fv-help-block">
                'Passsword' and 'Confirm Password' didn't match.
              </div>
            </div>
          </ng-container>
        </div>
        <div class="form-group">
          <label class="checkbox mb-0">
            <input type="checkbox" formControlName="agree" name="agree" />&nbsp;I
            Agree the&nbsp;<a
            href="../../../../../assets/files/terms_and_comditions.pdf"
            target="_blank"
            download
              >terms and conditions</a
            >.&nbsp;
            <span></span>
          </label>
        </div>
        <div>
          <button type="submit" [disabled]="registrationForm.invalid || !registrationForm.controls['agree'].value" class="btn btn-success">
            Submit
          </button>
          <a routerLink="/auth/login" type="button" class="mx-2 btn btn-light">
            Cancel
          </a>
        </div>
      </form>
    </div>
  </div>
</div>

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        {{ message }}
      </div>
    </div>
  </ng-container>
</ng-template>
