<div class="row py-5">
    <div class="col-12">
        <h1 *ngIf="!companyId">Add Company</h1>
        <h1 *ngIf="companyId">Edit Company</h1>
    </div>
    <div class="col-12">
        <form class="form" [formGroup]="createCompany" novalidate="novalidate" (ngSubmit)="submit()">
            <div class="row">
                <div class="col-md-12 mb-5">
                    <div class="d-flex align-items-center flex-wrap">
                        <div class="my-profile-img" style="background-image: url('{{selectedImageUrl || defaultImage}}');"></div>
                        <div>
                            <button type="button" (click)="changePhoto()" class="btn btn-success mx-2 d-block mb-2">Change Logo</button>
                            <!-- <button *ngIf="selectedImageUrl" type="button" (click)="removePhoto()" class="btn btn-light mx-2">Remove Logo</button> -->
                        </div>
                        <input formControlName="logo" id="photoInput" type="file" accept=".PNG,.JPEG,.jpg" (change)="readURL($event)" class="d-none" placeholder="Enter photo">
                        <p *ngIf="errorImageSize" class="c-red mb-0">Please select photo whith size less than 2M</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-6 mb-3">
                            <mat-form-field class="w-100">
                                <input formControlName="commercialName" matInput placeholder="Company Name" required/>    
                            </mat-form-field>
                            <mat-error
                                [ngTemplateOutlet]="formError"
                                [ngTemplateOutletContext]="{
                                validation: 'required',
                                message: 'Company name is required',
                                control: createCompany.controls['commercialName']
                                }"
                            ></mat-error>
                            <mat-error
                                [ngTemplateOutlet]="formError"
                                [ngTemplateOutletContext]="{
                                validation: 'pattern',
                                message: 'Company name is invalid',
                                control: createCompany.controls['commercialName']
                                }"
                            ></mat-error>
                        </div>
                        <div class="col-6 mb-3">
                            <mat-form-field class="w-100">
                                <input formControlName="arabicCommercialName" matInput placeholder="Arabic Company Name" required/>    
                            </mat-form-field>
                            <mat-error
                                [ngTemplateOutlet]="formError"
                                [ngTemplateOutletContext]="{
                                validation: 'required',
                                message: 'Company name is required',
                                control: createCompany.controls['arabicCommercialName']
                                }"
                            ></mat-error>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <mat-form-field class="w-100">
                        <input formControlName="emailAddress" matInput placeholder="Company Email Address">
                    </mat-form-field>
                </div>
                <div class="col-md-6 mb-3">
                    <mat-form-field class="w-100">
                        <mat-label>Company Description</mat-label>
                        <textarea matInput formControlName="description" rows="1"></textarea>
                    </mat-form-field>
                </div>
                <div class="col-md-3 mb-3">
                    <mat-form-field class="w-100">
                        <mat-select formControlName="currencyId" placeholder="Currency" required>
                            <mat-option *ngFor="let currency of currencies" [value]="currency.id">{{currency.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-3 mb-3">
                    <mat-form-field class="w-100">
                        <mat-select formControlName="paymentMethodsIds" placeholder="Payment method" multiple required>
                            <mat-option *ngFor="let paymentMethod of paymentMethods" [value]="paymentMethod.id">{{paymentMethod.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-3 mb-3">
                    <mat-form-field class="w-100">
                        <mat-select formControlName="countryId" placeholder="Country" (selectionChange)="getCities($event)" required>
                            <mat-option *ngFor="let country of countries" [value]="country.id" [ngClass]="{'d-none': !country?.name?.toLowerCase()?.includes(countriesFilter?.toLowerCase())}">
                                <div class="d-flex align-items-center">
                                    <span class="symbol symbol-20 mr-3"><img [src]="country.flag"></span>{{country.name}}
                                </div>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-3 mb-3">
                    <mat-form-field class="w-100">
                        <mat-select formControlName="cityId" placeholder="City" required>
                            <mat-option *ngFor="let city of cities" [value]="city.id">{{city.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-3 mb-3">
                    <mat-form-field class="w-100">
                        <input formControlName="street" matInput placeholder="Street Name"/>    
                    </mat-form-field>
                </div>
                <div class="col-md-3 mb-3">
                    <mat-form-field class="w-100">
                        <input formControlName="buildingNo" matInput placeholder="Building Number"/>    
                    </mat-form-field>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <mat-form-field class="w-100">
                                <input formControlName="phone" type="text" matInput placeholder="Phone" required/>
                                <span *ngIf="getCountryCode()" matPrefix class="mr-4">{{getCountryCode()}}</span>  
                                <mat-error
                                    [ngTemplateOutlet]="formError"
                                    [ngTemplateOutletContext]="{
                                    validation: 'pattern',
                                    message: 'Phone is invalid',
                                    control: createCompany.controls['phone']
                                    }"
                                ></mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 mb-3">
                            <mat-form-field class="w-100">
                                <input formControlName="mobile" type="text" matInput placeholder="Mobile" required/>
                                <span *ngIf="getCountryCode()" matPrefix class="mr-4">{{getCountryCode()}}</span>  
                                <mat-error
                                    [ngTemplateOutlet]="formError"
                                    [ngTemplateOutletContext]="{
                                    validation: 'pattern',
                                    message: 'Mobile is invalid',
                                    control: createCompany.controls['mobile']
                                    }"
                                ></mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <mat-form-field class="w-100">
                        <input formControlName="taxFileNumber" type="text" matInput placeholder="Tax File Number"/>
                    </mat-form-field>
                </div>
                <div class="col-md-6 mb-3" *ngIf="!companyId || (companyId && !this.companyItem?.verified)">
                    <app-upload-documents [selectedFiles]="documents" (selectFiles)="selectFiles($event)" class="row"></app-upload-documents>
                    <h3 *ngIf="companyId && companyItem?.companyDocuments.length > 0">Previous Documents</h3>
                    <div class="row" *ngIf="companyId && companyItem?.companyDocuments">
                        <div *ngFor="let file of companyItem?.companyDocuments; let i = index" class="col-sm-3 col-4 mb-4">
                            <div id="uploaded-image-holder" class="uploaded-file-holder">
                                <button type="button" (click)="deleteFile(i,'docs')" class="btn delete-file sub">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-times fa-w-10 fa-3x"><path fill="#fff" d="M193.94 256L296.5 153.44l21.15-21.15c3.12-3.12 3.12-8.19 0-11.31l-22.63-22.63c-3.12-3.12-8.19-3.12-11.31 0L160 222.06 36.29 98.34c-3.12-3.12-8.19-3.12-11.31 0L2.34 120.97c-3.12 3.12-3.12 8.19 0 11.31L126.06 256 2.34 379.71c-3.12 3.12-3.12 8.19 0 11.31l22.63 22.63c3.12 3.12 8.19 3.12 11.31 0L160 289.94 262.56 392.5l21.15 21.15c3.12 3.12 8.19 3.12 11.31 0l22.63-22.63c3.12-3.12 3.12-8.19 0-11.31L193.94 256z" class=""></path></svg>
                                </button>
                                <div class="w-100 text-center">
                                    <img src="../../../../../assets/images/default.png" alt="default" class="file-img">
                                    <p class="file-name">{{file.documentName}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <mat-form-field class="w-100 mb-3">
                        <mat-select formControlName="businessType" placeholder="Main Major Type" (selectionChange)="getCategoriesByBusinessType()" required>
                            <mat-option *ngIf="companyBusinessTypes" [value]="companyBusinessTypes[0]?.key">{{'LOOKUPS.'+(companyBusinessTypes[0]?.value | uppercase) | translate}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button *ngIf="createCompany.controls.businessType.value" type="button" class="btn btn-success mb-2" (click)="openModal(catModal)">Select Categories</button>
                    <div class="chips-list" *ngIf="selectedCat?.length > 0">
                        <span class="chip" *ngFor="let cat of selectedCat">
                            {{cat.name}}
                            <span class="ml-2 cursor-pointer" (click)="removeCat(cat)">X</span>
                        </span>
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <app-upload-images (selectedImages)="selectImages($event)" class="row"></app-upload-images>
                    <h3 *ngIf="companyId && companyItem?.companyImageItems.length > 0">Previous Images</h3>
                    <div class="row" *ngIf="companyId && companyItem?.companyImageItems">
                        <div *ngFor="let image of companyItem?.companyImageItems; let i = index" class="col-md-2 col-sm-4 mb-4">
                            <div class="position-relative">
                                <img [src]="image.imagePath" [alt]="image.imagePath" class="w-100">
                                <button type="button" (click)="deleteFile(i,'imgs')" class="btn delete-file sub">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-times fa-w-10 fa-3x"><path fill="#fff" d="M193.94 256L296.5 153.44l21.15-21.15c3.12-3.12 3.12-8.19 0-11.31l-22.63-22.63c-3.12-3.12-8.19-3.12-11.31 0L160 222.06 36.29 98.34c-3.12-3.12-8.19-3.12-11.31 0L2.34 120.97c-3.12 3.12-3.12 8.19 0 11.31L126.06 256 2.34 379.71c-3.12 3.12-3.12 8.19 0 11.31l22.63 22.63c3.12 3.12 8.19 3.12 11.31 0L160 289.94 262.56 392.5l21.15 21.15c3.12 3.12 8.19 3.12 11.31 0l22.63-22.63c3.12-3.12 3.12-8.19 0-11.31L193.94 256z" class=""></path></svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-success btn-lg px-5" [disabled]="createCompany.invalid">
                    Save
                </button>
            </div>
        </form>
    </div>
</div>
<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <mat-error *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        {{ message }}
      </div>
    </div>
  </mat-error>
</ng-template>

<ng-template #subCat let-categories="categories">
    <ng-container *ngFor="let cat of categories">
        <ng-container *ngIf="cat.hasChildren">
            <mat-expansion-panel>
                <mat-expansion-panel-header (click)="getCategoriesByParentId(cat)">
                    <mat-panel-title>
                        <!-- <mat-checkbox [checked]="isChecked(cat)" (click)="clickCat($event)" (change)="selectCat($event,cat,'main')" class="mx-2"></mat-checkbox>  -->
                        {{cat.name}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div *ngIf="cat.hasChildren" [ngTemplateOutlet]="subCat" [ngTemplateOutletContext]="{categories:cat.categories}">
                </div>
            </mat-expansion-panel>
        </ng-container>
        <ng-container *ngIf="!cat.hasChildren">
            <ng-container>
                <mat-panel-title class="mat-expansion-panel-header-title noSub">
                    <mat-checkbox [checked]="isChecked(cat)" (click)="clickCat($event)" (change)="selectCat($event,cat,'sub')" class="mx-2"></mat-checkbox> 
                    {{cat?.name}}
                </mat-panel-title>
            </ng-container>
        </ng-container>
    </ng-container>
</ng-template>

<ng-template #catModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title mb-0">Select Categories</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body categories-modal-body">
        <div class="d-flex">
            <mat-form-field class="flex-fill">
                <input id="searchInput" type="text" matInput placeholder="Search"/>
            </mat-form-field>
            <button type="button" class="btn btn-sm btn-success mb-3 mx-2" (click)="serachCat()">Serach Categoreis</button>
        </div>
        <mat-accordion class="custom-tree">
            <ng-container *ngFor="let cat of categories">
                <ng-container *ngIf="cat.hasChildren">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header (click)="getCategoriesByParentId(cat)">
                            <mat-panel-title>
                                <!-- <mat-checkbox [checked]="isChecked(cat)" (click)="clickCat($event)" (change)="selectCat($event,cat,'main')" class="mx-2"></mat-checkbox>  -->
                                {{cat.name}}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div *ngIf="cat.hasChildren" [ngTemplateOutlet]="subCat" [ngTemplateOutletContext]="{categories:cat.categories}">
                        </div>
                    </mat-expansion-panel>
                </ng-container>
                <ng-container *ngIf="!cat.hasChildren">
                    <ng-container>
                        <mat-panel-title class="mat-expansion-panel-header-title noSub">
                            <mat-checkbox [checked]="isChecked(cat)" (click)="clickCat($event)" (change)="selectCat($event,cat,'sub')" class="mx-2"></mat-checkbox> 
                            {{cat?.name}}
                        </mat-panel-title>
                    </ng-container>
                </ng-container>
            </ng-container>
        </mat-accordion>    
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="modal.dismiss('Cross click')">Done</button>
    </div>
</ng-template>
