<div class="col-12 mb-2">
    <div class="row">    
        <div class="col-12 mb-4">
            <input id="select-file" class="d-none" type="file" (change)="fileChangeEvent($event)" onclick="this.value = null" accept="image/png, image/jpeg, image/jpg" />
            <button [disabled]="images.length > 3" (click)="selectFile()" type="button" class="btn btn-success">Add Company Images<i class="flaticon-upload-1 text-white ml-2"></i></button>
        </div>
        <div class="col-md-2 col-sm-4 mb-3" *ngFor="let img of images; let i = index">
            <div class="position-relative">
                <button type="button" (click)="deleteImg(img)" class="btn delete-file sub">
                    <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-times fa-w-10 fa-3x"><path fill="#fff" d="M193.94 256L296.5 153.44l21.15-21.15c3.12-3.12 3.12-8.19 0-11.31l-22.63-22.63c-3.12-3.12-8.19-3.12-11.31 0L160 222.06 36.29 98.34c-3.12-3.12-8.19-3.12-11.31 0L2.34 120.97c-3.12 3.12-3.12 8.19 0 11.31L126.06 256 2.34 379.71c-3.12 3.12-3.12 8.19 0 11.31l22.63 22.63c3.12 3.12 8.19 3.12 11.31 0L160 289.94 262.56 392.5l21.15 21.15c3.12 3.12 8.19 3.12 11.31 0l22.63-22.63c3.12-3.12 3.12-8.19 0-11.31L193.94 256z" class=""></path></svg>
                </button>
                <img [src]="img.base64.imagePath || img.base64" class="w-100 cursor-pointer" (click)="itemForm.get('defaultImageIndex').setValue(i)"/>
            </div>
        </div>
    </div>
</div>

<ng-template #cropModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Crop Company Image</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <image-cropper
            [imageChangedEvent]="imageChangedEvent"
            [maintainAspectRatio]="false"
            [aspectRatio]="4 / 3"
            format="png"
            (imageCropped)="imageCropped($event)"
            (imageLoaded)="imageLoaded($event)"
            (cropperReady)="cropperReady()"
            (loadImageFailed)="loadImageFailed()"
        ></image-cropper>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
        <button type="button" class="btn btn-success" (click)="addCroppedImage(croppedImage)">Crop Image</button>
        <div class="fv-plugins-message-container ng-star-inserted w-100 text-center" *ngIf="errorImg">
            <div class="fv-help-block">Image size larget than 2MB</div>
        </div>
    </div>
</ng-template>