<div class="container">
    <div class="row authSection">
        <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 py-5">
            <a routerLink="/home">
            <img src="./assets/images/logo.svg" alt="Logo" class="login-logo"/>
            </a>
            <h1 class="text-center mb-4">Thank You For Register With Us<br>Your Email Is Configerd</h1>
            <div class="text-center">                
                <a routerLink="auth/login" class="btn btn-success px-4 mx-auto">
                    Back To Login
                </a>
            </div>
        </div>
    </div>
</div>