<div class="footer-section">
    <div class="container-fluid custom-container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="footer-links">
                    <ul>
                        <li>
                            <span class="footer-text">
                                Contact Us
                            </span>
                        </li>
                        <li>
                            <span class="footer-text">
                                info@growthway.net
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="footer-links">
                    <ul>
                        <li>
                            <a class="footer-text" href="#">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a class="footer-text" href="#">
                                Careers
                            </a>
                        </li>
                        <li>
                            <a class="footer-text" href="#">
                                Help
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="footer-links">
                    <ul>
                        <li>
                            <a class="footer-text" href="#">
                                Terms and Conditions
                            </a>
                        </li>
                        <li>
                            <a class="footer-text" href="#">
                                Privacy Policy
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 d-flex align-items-center">
                <div class="footer-social">
                    <ul>
                        <li>
                            <a href="#">
                                <img src="./assets/images/facebook-f-brands.svg" alt="facebook">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="./assets/images/twitter-brands.svg" alt="facebook">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="./assets/images/instagram-brands.svg" alt="facebook">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid custom-container">
    <div class="row">
        <div class="col-12">
            <div class="d-flex flex-wrap py-2">
                <div class="flex-fill">
                    <p class="mb-0 footer-text c-primary">Address: JLT cluster V, Building: JBC2, Office: 1509</p>
                </div>
                <div>
                    <p class="mb-0 footer-text c-primary">All rights reserved © Growthway 2021</p>
                </div>
            </div>
        </div>
    </div>
</div>
