<main class="main-container">

    <section class="home-section-banner-pad">
        <div class="home-section-banner">
            <div class="d-flex justify-content-center h-100 pt-0 w-100 ">

                <div class="row w-100 ">


                    <div class="col-md-6 ">
                        <div class="splash_inner ">
                            <h1 class=" d-d-felx ">INTERNATIONAL B2B MARKETPLACE

                            </h1>

                            <div class="d-d-felx ">
                                <h2>Bringing business And countries together
                                </h2>
                            </div>
                            <div class=" d-flex justify-content-center ">
                                <button class="btn btn1 btn-lg btn-primary ">Register now it’s free
                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="d-flex justify-content-center align-items-center h-100 ">
                            <img src="assets/images/logo.svg " alt="logo ">
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <section class="bar bg-white ">
        <div class="container container2 d-flex flex-column align-items-center">
            <div class="title-counter ">
                <div class="icon">
                    <img src="../../../assets/images/images/Icon-eye.svg" alt="Icon-eye">
                </div>

                <h1>

                    Why GrowthWay & Who we are?

                </h1>

            </div>
            <div class="title-section">
                <h2>

                    Connect Food Business


                </h2>

                <p>
                    GrowthWay is the first smart business platform of its kind that connects suppliers with food service providers, and those who are from the same field around the world, where we provide each supplier with their page to enter an unlimited number of products
                    with their pictures, product information and all its equipment and advantages and manage all operations, Purchase orders, delivery, tracking of delivery, sending targeted advertisements, and analyzing information through professional
                    and special reports.

                </p>
            </div>

            <div class="icon-cards w-100">
                <div class="col-md-12 d-flex justify-content-center w-100">
                    <div class="row justify-content-center w-100">
                        <div class="col-md-4">
                            <div class="card-main ">
                                <div class="icon bg1">
                                    <img src="../../../assets/images/images/chart-bar.svg" alt="Icon-eye">
                                </div>
                                <div class="text-card">
                                    <h1>
                                        Best Investment opportunities

                                    </h1>
                                    <p>
                                        Simplify logistics and the ability to track all your transactions until they reach the customer, ensure the best investment opportunities.

                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-main">
                                <div class="icon bg2">
                                    <img src="../../../assets/images/images/website.svg" alt="Icon-eye">
                                </div>
                                <div class="text-card">
                                    <h1>
                                        Manage the marketing

                                    </h1>
                                    <p>
                                        Web site of each company operates through which all marketing operations and operating.

                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-main">
                                <div class="icon bg3">
                                    <img class="img-diff" src="../../../assets/images/images/Artboard29.svg" alt="Icon-eye">
                                </div>
                                <div class="text-card">
                                    <h1>
                                        Trusted & Certified

                                    </h1>
                                    <p>
                                        We guarantee that all suppliers & service providers in Groth Way notaries and certified through commercial licenses, have been carefully selected by the dedicated marketing team.

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>


    <section class="home-section-banner-pad">
        <div class="home-section-banner2">
            <div class="d-flex justify-content-center h-100 pt-0 w-100 ">

                <div class="row w-100 ">


                    <div class="col-md-4 ">

                    </div>
                    <div class="col-md-4 ">

                    </div>
                    <div class="col-md-4 ">

                    </div>

                </div>

            </div>

        </div>
    </section>



</main>