<div class="main-header" [ngClass]="{'sticky' : isSticky}">
    <div class="container-fluid custom-container top-small-header d-flex w-100 align-items-center">
        <span class="flex-fill mx-2 user-name c-white d-none d-sm-block">{{ "MENU.WELCOME" | translate }}
      {{username ||  "MENU.TO_GROWTHWAY" | translate }}


    </span>
        <div class="d-flex">
            <button [matMenuTriggerFor]="selectCurrency" class="mx-2 btn c-white btn-sm align-items-center d-flex">
        <img class="flag" src="../../../../../assets/images/008-saudi-arabia.svg" />
        <span class="mx-2 c-white">{{activeCurrency?.name || "MENU.CURRENCY" | translate}}</span>
        <img class="flag" src="../../../../../assets/images/iconly_light-outline_arrow_-_left_circle-13.svg" />
      </button>
            <mat-menu class="custom-menu" #selectCurrency="matMenu">
                <ng-container *ngFor="let currency of currencies">
                    <button (click)="setActiveCurrency(currency)" [ngClass]="{ active: currency === activeCurrency }" mat-menu-item>
            <span class="symbol symbol-20 mx-3">
              <img class="flag" src="../../../../../assets/images/008-saudi-arabia.svg" />
            </span>
            <span class="navi-text">{{ currency.name }}</span>
          </button>
                </ng-container>
            </mat-menu>
            <app-language-selector></app-language-selector>
        </div>
    </div>
    <div class="container-fluid custom-container header-section">
        <div class="logo">
            <a routerLink="/" class="d-block">
                <img src="./assets/images/logo.svg" alt="logo">
            </a>
        </div>
        <div class="mobile-header">
            <button (click)="showMobileMenu()" class="btn btn-default bg-primary-color">
        <img src="./assets/images/mobile-menu.svg" alt="mobile-menu" />
      </button>
            <div [ngClass]="{'opened' : showmobileMenu}" class="mobile-menu">
                <div class="pt-5 px-4 pb-3 bg-primary-color">
                    <div class="d-flex align-items-center mb-3" *ngIf="checkIfLogin()">
                        <div class="flex-fill">
                            <a (click)="showMobileMenu()" routerLink="my-profile" style="background-image: url('{{getProfileImage()}}');" class="profile-img d-block"></a>
                        </div>
                        <a href="#">
                            <img src="./assets/images/bell.svg" alt="bell" />
                        </a>
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="flex-fill" *ngIf="!checkIfLogin()">
                            <a routerLink="/auth/login" (click)="showMobileMenu()" class="c-white user-name">
                                <img src="./assets/images/login.svg" alt="login" />
                                {{ "MENU.LOGIN_REGISTER" | translate }}
                            </a>
                        </div>
                        <div class="flex-fill" *ngIf="checkIfLogin()">
                            <span class="c-white user-name">{{username}}</span>
                        </div>
                        <a (click)="showMobileMenu()">
                            <img class="mx-1" src="./assets/images/back.svg" alt="bell" />
                        </a>
                    </div>
                </div>
                <div class="pt-5 px-4 pb-3 mobile-nav-section">
                    <ul class="mobile-nav-links" (click)="showMobileMenu()">
                        <li><a routerLink="my-profile"> {{ "MENU.My_Profile" | translate }}</a></li>
                        <li><a routerLink="companies"> {{ "MENU.My_Companies" | translate }}</a></li>
                        <li><a routerLink="shipping-addresses">
                {{ "MENU.My_Shipping_Addresses" | translate }}</a></li>
                        <li><a href="#"> {{ "MENU.BRANDS" | translate }}</a></li>
                        <li><a href="#"> {{ "MENU.REQUEST_ORDER" | translate }}</a></li>
                        <li><a href="#">{{ "MENU.NEW_ARRIVALS" | translate }}</a></li>
                        <li *ngIf="checkIfLogin()"><a routerLink="/auth/logout" class="c-white" (click)="logout()">Logout</a></li>
                    </ul>
                </div>
                <div class="mobile-search">
                    <input placeholder="Search" type="text" (keydown)="checkIfEnter($event)">
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-search fa-w-16 fa-3x">
            <path fill="currentColor"
              d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"
              class=""></path>
          </svg>
                </div>
            </div>
        </div>
        <div class="flex-fill">
            <div class="descktop-header justify-content-end">
                <div class="mx-3 position-relative">
                    <div class="p-2 filter">
                        <mat-form-field appearance="outline">
                            <input matInput (keydown)="checkIfEnter($event)" class="w-100">
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                    </div>
                    <!-- <input [ngClass]="{'opend' : showSearchBox}" id="searchBox" (keydown)="checkIfEnter($event)" (blur)="showSearch()" type="text" class="search-box">
                    <button [ngClass]="{'opend' : showSearchBox}" (click)="showSearch()" class="btn btn-header-serach">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-search fa-w-16 fa-3x"><path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z" class=""></path></svg>
                    </button> -->
                </div>
                <!-- <div class="mx-3" *ngIf="checkIfLogin()">
                    <button [matMenuTriggerFor]="menu" class="btn btn-header-profile" style="background-image: url('{{getProfileImage()}}');"></button>
                    <a routerLink="companies" class="btn btn-success px-4 mx-3">
                        My Companies
                    </a>
                    <mat-menu class="custom-menu" #menu="matMenu">
                        <a routerLink="my-profile" mat-menu-item>My Profile</a>
                        <a routerLink="companies" mat-menu-item>My Companies</a>
                        <a routerLink="/auth/logout" mat-menu-item>Logout</a>
                    </mat-menu>
                </div> -->
                <div class="mx-3 text-center" *ngIf="checkIfLogin()">
                    <a routerLink="companies">
                        <img src="./assets/images/shop.svg" alt="login" class="header-icon" /><br />{{ "MENU.BE_SUPPLIER" | translate }}
                    </a>
                </div>
                <div class="mx-3 text-center descktop-header" *ngIf="checkIfLogin()">
                    <a href="#">
                        <img src="./assets/images/shopping_bag-1.svg" alt="cart" /><br /> t{{ "MENU.Orders_Cart" | translate }}
                    </a>
                </div>
                <div class="mx-3 text-center" *ngIf="!checkIfLogin()">
                    <a routerLink="/auth/login">
                        <img src="./assets/images/my_account-1.svg" alt="login" class="mb-1" /><br /> {{ "MENU.LOGIN_REGISTER" | translate }}
                    </a>
                </div>
                <div class="mx-3 text-center descktop-header">
                    <button [matMenuTriggerFor]="menu2" class="btn c-primary" data-toggle="tooltip" title="Menu">
            <img src="./assets/images/icon_products.svg" alt="cart" />
          </button>
                    <mat-menu class="custom-menu" #menu2="matMenu">
                        <ng-container *ngIf="!checkIfLogin()">
                            <a routerLink="auth/login" mat-menu-item> {{ "MENU.Login" | translate }}</a>
                            <a routerLink="auth/registration" mat-menu-item>
                {{ "MENU.Rigester" | translate }}</a>
                        </ng-container>
                        <ng-container *ngIf="checkIfLogin()">
                            <a routerLink="my-profile" mat-menu-item> {{ "MENU.My_Profile" | translate }}</a>
                            <a routerLink="shipping-addresses" mat-menu-item>
                {{ "MENU.My_Shipping_Addresses" | translate }}</a>
                            <a routerLink="/auth/logout" mat-menu-item> {{ "MENU.Logout" | translate }}</a>
                        </ng-container>
                    </mat-menu>
                </div>
            </div>
            <div class="text-center header-links">

                <ul class="nav-links">
                    <div class="ruby-wrapper">

                        <ul class="ruby-menu">
                            <li class="ruby-menu-mega-blog"><a>{{ "MENU.CATEGORIES" | translate }}
                </a>
                                <div class="cont">
                                    <ul class="ruby-menu-mega-blog-nav">

                                        <li class="ruby-li-item1" *ngFor="let cat of categories"><a>
                        {{cat.name}}</a>
                                            <div class="ruby-grid ">
                                                <div class="row w-100">
                                                    <div class="col-md-3 p-3" *ngFor="let subcat of cat.categories">
                                                        <h2>{{subcat.name}}</h2>


                                                        <ul class="ruby-menu-mega-blog-nav">
                                                            <li class="ruby-li-item" *ngFor="let childsubcat of subcat.categories"><a href="#">
                                  {{childsubcat.name}}</a>
                                                            </li>
                                                        </ul>
                                                    </div>


                                                </div>
                                            </div>

                                        </li>


                                    </ul>
                                </div>

                            </li>

                        </ul>
                    </div>
                    <li><a href="#"> {{ "MENU.HOT_DEALS" | translate }}</a></li>
                    <li><a routerLink="about-us"> {{ "MENU.NEW_ARRIVALS" | translate }}</a></li>
                    <li><a href="#"> {{ "MENU.BRANDS" | translate }}</a></li>
                    <li><a href="#"> {{ "MENU.PRODUCTS" | translate }}</a></li>
                    <li><a href="#"> {{ "MENU.REQUEST_ORDER" | translate }}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>